<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc configurator</title>
    <link rel="icon" href="../public/Logo.jpg" title="logo">
    <link rel="stylesheet" href="../assets/main.css">
    <!--cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'> -->
</head>

<body>
    <div class="nav">
        <div class="container-xl">
            <div class="layer">
                <div class="logo start">
                    <img src="../public/LogoPCConfig.jpeg" alt="">
                </div>
                <div class="hamburger">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <ul class="list">
                <li class="list__item">
                    <a href="../index.html">Home</a>
                </li>
                <li class="list__item">
                    <a href="./configurator.html">
                        <i class="bi bi-tools"></i>
                        Pc-Configurator
                    </a>
                </li>
                <li class="list__item">
                    <a href="../index.html#configurations">
                        <i class="bi bi-pc-display"></i>
                        Configurations
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="landing">
        <div class="container">
            <h1 class="title">Complete your build!</h1>
            <h4>Choose Only 1 product for Category</h4>
        </div>

        <div class="box">
            <ul class="box-list">
                <li><a>CPU</a></li>
                <li><a>Motherboard</a></li>
                <li><a>GPU</a></li>
                <li><a>RAM</a></li>
                <li><a>Case</a></li>
                <li><a>Alimentatore</a></li>
                <li><a>Archiviazione</a></li>
            </ul>
        </div>

        <!-- all carts -->
        <!-- 1 -->
        <div class="cpu product-group">
            <div class="column products">
                <h1>Cpu</h1>
                <div class="item">
                    <div class="product" data-name="Ryzen" data-price="180" data-id="0">
                        <img src="../public/img/Ryzen3.jpg" alt="ryzen" width="475" height="475"/>
                        <h3>Ryzen 3 3800x</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Ryzen" data-price="275" data-id="1">
                        <img src="../public/img/ryzen_5.webp" alt="ryzen" width="475" height="475"/>
                        <h3>Ryzen 5 5800x</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Ryzen" data-price="350" data-id="2">
                        <img src="../public/img/Ryzen-7-5800X.jpg" alt="ryzen" width="475" height="475"/>
                        <h3>Ryzen 7 3800xt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Ryzen" data-price="550" data-id="3">
                        <img src="../public/img/Ryzen9.jpg" alt="ryzen" width="475" height="475"/>
                        <h3>Ryzen 9 5950x</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="motherboard product-group">
            <div class="column products">
                <h1>Motherboards</h1>
                <div class="item">
                    <div class="product" data-name="Asus" aria-valuenow="1" data-price="175" data-id="4">
                        <img src="../public/img/mobo/ASUSTUFX470.jpg" alt="Motherboard" width="470" height="570">
                        <h3>Asus TUF z490</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Msi" aria-valuenow="1" data-price="215" data-id="5">
                        <img src="../public/img/mobo/MSIX570.jpg" alt="Motherboard" width="470" height="570">
                        <h3>Msi X570</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="gpu product-group">
            <div class="column products">
                <h1>Gpu Nvidia</h1>
                <div class="item">
                    <div class="product" data-name="Nvidia" aria-valuenow="1" data-price="400" data-id="6">
                        <img src="../public/img/GPU/RTX-3060-Ultra-2212801369.jpg" alt="Gpu">
                        <h3>RTX 3060</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Nvidia" aria-valuenow="1" data-price="650" data-id="7">
                        <img src="../public/img/GPU/rtx3070.jpg" alt="Gpu">
                        <h3>RTX 3070</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Nvidia" aria-valuenow="1" data-price="900" data-id="8">
                        <img src="../public/img/GPU/Rtx3080.jpg" alt="Gpu">
                        <h3>RTX 3080</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Nvidia" aria-valuenow="1" data-price="1200" data-id="9">
                        <img src="../public/img/GPU/Rtx3090.jpg" alt="Gpu">
                        <h3>RTX 3090</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <h1 class="hdd">Gpu AMD</h1>
                <div class="item">
                    <div class="product" data-name="Amd" aria-valuenow="1" data-price="389" data-id="10">
                        <img src="../public/img/GPU/AMD/6600xtgpu.jpg" alt="Gpu">
                        <h3>RX 6600xt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Amd" aria-valuenow="1" data-price="599" data-id="11">
                        <img src="../public/img/GPU/AMD/AMD-Radeon-RX-6700-XT-videocardzbanner-1-1231958213.jpg" alt="Gpu">
                        <h3>RX 6700xt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Amd" aria-valuenow="1" data-price="749" data-id="12">
                        <img src="../public/img/GPU/AMD/6800xt.jpg" alt="Gpu">
                        <h3>RX 6800xt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Amd" aria-valuenow="1" data-price="999" data-id="13">
                        <img src="../public/img/GPU/AMD/Radeon-RX-6900-XT-3-1525754048.jpg" alt="Gpu">
                        <h3>RX 6900xt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="ram product-group">
            <div class="column products">
                <h1>Ram</h1>
                <div class="item">
                    <div class="product" data-name="" aria-valuenow="1" data-price="65" data-id="14">
                        <img src="../public/img/RAM/memoria-ddr4-gskill-trident-z-8gb-2x4gb-3200mhz-f4-3200c16d-8gtzb_86375-1919782976.png" alt="Ram" width="750" height="750">
                        <h3>G-skill 8gb 3200mhz</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="Corsair" aria-valuenow="1" data-price="85" data-id="15">
                        <img src="../public/img/RAM/corsair-8gb-3600mhz-ddr4-ram-2284402714.jpg" alt="Ram" width="750" height="750">
                        <h3>Corsair 8gb 3600mhz</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                    <div class="product" data-name="" aria-valuenow="1" data-price="110" data-id="16">
                        <img src="../public/img/RAM/3833Corsair-3527264780.jpg" alt="Ram" width="750" height="750">
                        <h3>Corsair 16gb 3833mhz</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="case product-group">
            <div class="column products">
                <h1>Cases</h1>
                <div class="item">
                    <div class="product" data-name="Nzxt" aria-valuenow="1" data-price="90" data-id="17">
                        <img src="../public/img/Case/h500-267026542.jpg" alt="Case" width="474" height="474">
                        <h3>NZXT h50 airflow</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="Corsair" aria-valuenow="1" data-price="135" data-id="18">
                        <img src="../public/img/Case/4000D_1-4256717106.jpg" alt="Case" width="474" height="474">
                        <h3>Corsair 4000D</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="Sharkoon" aria-valuenow="1" data-price="75" data-id="19">
                        <img src="../public/img/Case/Sharkoon_TK4_RGB_compact_ATX_computer_case_1-888506766.jpg" alt="Case" width="474" height="474">
                        <h3>Sharkoon</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="alimentatore product-group">
            <div class="column products">
                <h1>Power-supply</h1>
                <div class="item">
                    <div class="product" data-name="EVGA" aria-valuenow="1" data-price="110" data-id="20">
                        <img src="../public/img/Ali/600wattt.jpg" alt="Power-supply" width="475" height="475">
                        <h3>EVGA 650watt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="" aria-valuenow="1" data-price="150" data-id="21">
                        <img src="../public/img/Ali/800watt_export_html_525fc5c9-1594850049.jpg" alt="Power-supply" width="475" height="475">
                        <h3>CoolerMaster 800watt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="" aria-valuenow="1" data-price="225" data-id="22">
                        <img src="../public/img/Ali/ASUS_ROG_THOR_1000P2_GAMING__1000_Watt_voeding@@1871634_34-658045803.jpg" alt="Power-supply" width="475" height="475">
                        <h3>Rog Asus Thor 1000watt</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="archiviazione product-group">
            <div class="column products">
                <h1>Storage</h1>
                <div class="item">
                    <div class="product" data-name="Samsung" aria-valuenow="1" data-price="90" data-id="23">
                        <img src="../public/img/Ssd/t500gbEvoPlus1914774271.jpg" alt="Ssd nvme" width="474" height="474">
                        <h3>Samsung 970 evo plus (500Gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="Samsung" aria-valuenow="1" data-price="150" data-id="24">
                        <img src="../public/img/Ssd/1000gb970evoplus4217004682.jpg" alt="Ssd nvme" width="474" height="474">
                        <h3>Samsung 970 evo plus (1000Gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="Samsung" aria-valuenow="1" data-price="130" data-id="25">
                        <img src="../public/img/Ssd/mmv_Samsung-980-Pro-500GB-SSD-01-300079604.jpg" alt="Ssd nvme" width="474" height="474">
                        <h3>Samsung 980 pro (500Gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item">
                    <div class="product" data-name="Samsung" aria-valuenow="1" data-price="220" data-id="26">
                        <img src="../public/img/Ssd/1000gb980pro1536x1178-4114946446.jpg" alt="Ssd nvme" width="474" height="474">
                        <h3>Samsung 980 pro (1000Gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <!-- HDD -->
                <h1 class="hdd">HDD</h1>
                <div class="item">
                    <div class="product" data-name="SanDisk" aria-valuenow="1" data-price="90" data-id="27">
                        <img src="../public/img/Ssd/2.5'/sandisk-plus-25-1000-gb-serial-ata-iii-3151392514.jpg" alt="Ssd fisics 2.5'" width="550" height="450">
                        <h3>SanDisk plus 2.5' (1000gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
                <div class="item samsung">
                    <div class="product" data-name="Samsung" aria-valuenow="1" data-price="110" data-id="28">
                        <img src="../public/img/Ssd/2.5'/samsung-2000gb-sata3-25-860-evo-basic-mz-76e2t0beu-ssd-1113576934.jpg" alt="Ssd fisics 2.5'" width="550" height="600">
                        <h3>Samsung 860 2.5' (2000gb)</h3>
                        <input type="text" class="count" value="1" />
                        <button class="tiny cart">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end all config -->

        <!-- shopping results -->
        <div class="relative cart">
            <div class="cart">
                <h1>Cart items</h1>
                <div class="row">
                    <div class="medium-6 columns">
                        <button class="tiny secondary clear" id="clear">Clear the cart</button>
                    </div>
                    <!-- <div class="medium-6 columns">
                        <button class="tiny disabled" title="Work in progress">Checkout</button>
                    </div> -->
                </div>
                <div id="cartItems">...</div>
                <span class="total-price">
                    Total price: <strong id="totalPrice">0 $</strong>
                </span>
            </div>
        </div>

        <!-- price -->
        <script type="text/template" id="cartT">
            <% _.each(items, function (item) { %> 
                <div class = "panel"> 
                    <h3> <%= item.name %> </h3>  
                    <span class="label">
                        <%= item.count %> piece<% if(item.count > 1)
                        {%>s
                        <%}%> for <%= item.total %>$
                    </span> 
                </div>
            <% }); %>
        </script>
    </div>

    <footer class="footer-main">
        <div class="footer-list">
            <ul class="list-social">
                <li>
                    <a href="" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="bi bi-envelope-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-cpy">copyright &copy; 2022 | <a href="https://matteomania.tk" target="_blank">Matteo Manià</a>
        </p>
    </footer>

    <!--script-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
    <script src="../src/app.js"></script>
    <script src="../src/ProductsEvent.js"></script>
    <script src="../src/MessageCart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--nav toggle-->
    <script>
        $(document).ready(function () {
            $(".hamburger").click(function () {
                $(".list").toggleClass("active");
            });
        });
    </script>
</body>
</html>